In [33]:
from bs4 import BeautifulSoup
import requests

import pandas as pd

In [34]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_Kingdom'

page = requests.get(url)

soup = BeautifulSoup(page.text, 'html')

In [35]:
table = soup.find_all('table', class_="wikitable sortable")[2]
#print(table)

titles = table.find_all('th')
#print(world_titles)

table_titles = [title.text.strip() for title in titles]
#print(world_table_titles)

df = pd.DataFrame(columns = table_titles)

#df

In [38]:
column_data = table.find_all('tr')

for row in column_data[1:]:
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    length = len(df)
    df.loc[length] = individual_row_data

df

,Rank,Forbes 2000 rank,Name,Headquarters,Revenue(billions US$),Profit(billions US$),Assets(billions US$),Value(billions US$),Industry
0,1,16,Shell plc,London,261.76,20.27,404.38,211.1,Oil and Gas
1,2,38,HSBC,London,59.33,12.58,"2,957.94",135.3,Banking
2,3,50,BP,London,158.01,7.55,287.27,98.38,Oil and Gas
3,4,82,Rio Tinto,London,63.46,21.06,102.90,117.78,Mining
4,5,96,Lloyds Banking Group,London,58.48,7.36,"1,200.75",31.34,Banking
5,6,101,British American Tobacco,London,35.32,9.34,186.05,97.49,Consumer goods
6,7,125,Unilever,London,62.00,7.15,85.40,116.16,Consumer goods
7,8,129,GlaxoSmithKline,London,46.92,6.03,107.14,112.09,Pharmaceuticals
8,9,155,Barclays,London,30.17,8.77,"1,874.94",31.55,Banking
9,10,181,Anglo American,London,41.52,8.54,65.98,59.44,Mining
10,11,187,Linde,Guildford,30.79,3.83,81.61,157.26,Chemicals
11,12,240,Legal & General,London,62.51,2.79,779.43,19.63,Insurance
12,13,247,NatWest Group,Edinburgh,17.86,4.41,"1,059.17",30.22,Banking
13,14,277,National Grid,London,20.77,2.07,119.92,54.88,Utilities
14,15,287,Diageo,London,19.00,4.19,44.91,116.05,Beverages
15,16,296,LyondellBasell Industries,London,46.15,5.6,36.74,34.94,Chemicals
16,17,306,Tesco,Welwyn Garden City,84.17,2.06,66.22,25.89,Retail
17,18,351,Standard Chartered,London,18.88,1.96,827.82,19.69,Finance
18,19,410,BAE Systems,"London, Farnborough",26.85,2.42,36.75,30.15,Aerospace and defence
19,20,412,BT Group,London,28.84,1.43,69.55,23.74,Telecommunication
20,21,429,Imperial Brands,Bristol,22.66,3.88,39.22,20.62,Consumer goods
21,22,435,CNH Industrial,London,33.43,1.72,49.42,20.19,Industrials
22,23,461,AstraZeneca,Cambridge,38.68,0.09,105.36,204.56,Pharmaceuticals
23,24,479,Vodafone,Newbury,53.63,−0.29,178.59,46.36,Telecommunication
24,25,499,London Stock Exchange,London,9.27,0.83,"1,066.1",52.66,Finance
25,26,501,Aviva,London,45.13,0.57,465.18,21.03,Insurance
26,27,540,Prudential,London,26.52,−1.98,189.35,36.7,Insurance
27,28,557,Willis Towers Watson,London,9.58,4.22,34.97,26.88,Insurance
28,29,583,Liberty Global,London,10.54,13.43,46.92,12.59,Telecommunication
29,30,584,SSE,Perth,10.33,3.52,31.56,24.88,Energy
30,31,635,Coca-Cola Europacific Partners,London,16.24,1.15,33.08,23.43,Beverages
31,32,675,RELX,London,9.95,2.02,18.77,59.18,Services
32,33,686,Ferguson,Wokingham,22.74,1.86,14.1,29.61,Construction materials
33,34,725,Reckitt Benckiser,Slough,18.2,−0.04,36.5,56.35,Consumer goods
34,35,756,WPP,London,17.61,0.87,38.05,14.80,Advertising
35,36,820,Phoenix Group,London,33.53,−1.18,440.48,7.93,Insurance
36,37,826,St James's Place,Cirencester,24.42,0.39,210.82,9.31,Insurance
37,38,827,Segro,London,0.75,5.58,24.09,21.23,Real estate
38,39,848,Compass Group,Chertsey,24.5,0.48,20.05,39.01,Services
39,40,915,Associated British Foods,London,18.99,0.65,22.78,16.58,Retail
40,41,921,M&G,London,23.38,0.11,294.55,6.99,Insurance
41,42,942,Amcor,Warmley,13.59,0.94,17.14,17.53,Packaging materials
42,43,990,Centrica,Windsor,20.28,0.80,36.69,5.96,Utilities
43,44,1040,Ashtead Group,London,7.65,1.18,14.78,26.45,Services
44,45,1045,Antofagasta plc,London,7.47,1.29,17.28,18.92,Mining
45,46,1057,3i Group,London,0.33,3.83,16.62,16.82,Finance
46,47,1136,Sainsbury's,London,40.82,0.38,34.62,717,Retail
47,48,1147,Evraz,London,13.49,3.04,9.85,1.52,Mining
48,49,1150,Rolls-Royce,London,15.43,0.21,38.84,9.84,Aerospace and defence
49,50,1160,Kingfisher plc,London,18.12,1.16,16.57,6.77,Retail

In [41]:
path = r'C:\Users\matte\Desktop\Portfolio\WikipediaScrapingTable.csv'
df.to_csv(path, index = False)